<app-nav></app-nav>
<div class="container">
    <div class="row g-3">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <label for="" class="form-label">productCode</label>
                <input name="productCode" [(ngModel)]="productCode" type="number" name="" id="" class="form-control">
            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <label for="" class="form-label">name</label>
                <input name="name" [(ngModel)]="name" type="text" class="form-control">
            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <label for="" class="form-label">mgDate</label>
                <input name="mgDate" [(ngModel)]="mgDate" type="text" class="form-control">
            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <label for="" class="form-label">exDate</label>
                <input name="exDate" [(ngModel)]="exDate" type="text" class="form-control">
            </div>
      
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <label for="" class="form-label">brand</label>
                <input name="brand" [(ngModel)]="brand" type="text" class="form-control">
            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <label for="" class="form-label">price</label>
                <input name="price" [(ngModel)]="price" type="number" name="" id="" class="form-control">
            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <label for="" class="form-label">sellerName</label>
                <input name="sellerName" [(ngModel)]="sellerName" type="text" class="form-control">
            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <label for="" class="form-label">distributorName</label>
                <input name="distributorName" [(ngModel)]="distributorName" type="text" class="form-control">
            </div>
            
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <button (click)="eventAdd()" class="btn btn-dark">Submit</button>
            </div>
        </div>
    </div>
</div>
